<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="col-md-12"><h3>File Upload</h3></div>
<div>
  <div class="margin-all-sides col-md-12">
    <input #fileUpload type="file" (change)="detectFiles($event)" multiple />
  </div>
  <div class="row-md-2" class="margin-all-sides">
    <div class="col-md-4" id="dropZone" (drop)="dropHandler($event);" (dragover)="dragOverHandler($event);" appDnd>
      <div class="glyphicon glyphicon-cloud-upload"></div>
      <div>Drag and drop one or more files here</div>
    </div>
  </div>
<div class="col-md-12">
  <ul>
    <li *ngFor ="let file of allFiles; let i=index">
      <label>{{file.name}}</label>
      <p>{{file.size}}</p>
      <app-progress [progress]="file.progress"></app-progress>
    </li>
  </ul>
</div>
  <div class="col-md-12">
    <button class="btn btn-primary margin-all-sides" (click)="uploadFiles()">
      <span class="glyphicon glyphicon-cloud-upload"></span> Upload </button>
    <button class="btn btn-danger margin-all-sides" (click)="clear()">
      <span class="glyphicon glyphicon-remove"></span></button>
  </div>
</div>



