<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="col-md-12"><h3>File Upload</h3></div>
<div>
  <div class="margin-all-sides col-md-12">
    <input #fileUpload type="file" (change)="detectFiles($event)" multiple />
  </div>
  <div class="col-md-12">
    <ul>
      <li *ngFor="let file of allFiles; let i = index">
        <label>{{file.name}}</label>
      </li>
    </ul>
  </div>
  <div class="col-md-12">
    <button class="btn btn-primary margin-all-sides" (click)="uploadFiles()" title="Upload file(s)">
      <span class="glyphicon glyphicon-cloud-upload"></span> Upload </button>
    <button class="btn btn-danger margin-all-sides" (click)="clear()" title="Clear file(s)">
      <span class="glyphicon glyphicon-remove"></span> Clear </button>
  </div>
  <div class="col-md-12" *ngIf="allFiles.length == 0">
    <span>Please choose files to upload...</span>
  </div>
  <hr>
  <div class="col-md-12">
    <h3>View Files
      <a href="javascript:;" (click)="refreshFiles()">
        <span class="glyphicon glyphicon-refresh" title="Refresh"></span>
      </a>
    </h3>
  </div>
  <div class="col-md-12" *ngIf="Files.length == 0">
    <span>No Files to display</span>
  </div>
  <div  *ngIf="Files">
  <div>
    <div>
      <div *ngIf="!addMetadata" colspan="5" class="col-md-2">
        <button class="btn btn-primary btn-margin-right" (click)="addMeta()" title="Add Metadata"> Add Metadata </button>
      </div>    
      <div class="col-md-2" colspan="5" *ngIf="addMetadata">
          <button class="btn btn-primary btn-margin-right" (click)="saveMetadata()" title="Save Metadata"> Save </button>
          <button class="btn btn-primary margin-all-sides" (click)="cancel()">Cancel</button>
      </div> 
    </div> 
  </div>
    <table class="table table-hover col-md-12">
      <thead class="thead-light">
        <tr>
          <th class="col-md-3">File Name</th>          
          <th class="col-md-3">File Description</th>
          <th class="col-md-2">Labels</th>
          <th class="col-md-2">Updated At</th> 
          <th *ngIf="!addMetadata"  class="col-md-2"></th>         
        </tr>
      </thead>
      <tbody *ngFor="let i = index; let file of Files">
        <tr>
          <td class="col-md-3">{{file.fileName}}</td>
          <td *ngIf="!addMetadata" class="col-md-3">{{file.fileDesc}}</td>
          <td *ngIf="addMetadata" class="col-md-3">
            <input placeholder="Enter file Description" class="form-control" type="text" size="20" [(ngModel)]="file.fileDesc">
          </td>
          <td *ngIf="!addMetadata" class="col-md-2">{{file.labels}}</td>
          <td *ngIf="addMetadata" class="col-md-2">
            <input placeholder="Enter file Label" class="form-control" type="text" size="20" [(ngModel)]="file.labels">
          </td>
          <td class="col-md-2">{{file.uploadedAt}}</td>
          <td *ngIf="!addMetadata" class="col-md-2">
            <button class="btn btn-primary btn-margin-right" (click)="deleteFile(file.id,i)" title="Delete">
              <span class="glyphicon glyphicon-remove"></span> Delete </button>
          </td>     
        </tr>
      </tbody>     
    </table>
  </div>
</div>



